body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    text-align: center;
    padding: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 1s ease-in-out;
}

header {
    margin-bottom: 60px;
}

section {
    margin-bottom: 40px;
}

#heart {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    margin: 0 auto;
    top: 50px;
    transform: rotate(-45deg) translate(0, -50px);
    animation: breathe 8s infinite ease-in-out;
}

#heart::before,
#heart::after {
    content: "";
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
}

#heart::before {
    top: -50px;
    left: 0;
}

#heart::after {
    top: 0;
    left: 50px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    margin: 40px;
}

footer {
    margin-top: 40px;
}

@keyframes breathe {
    0%, 100% {
        transform: scale(1) rotate(-45deg) translate(0, -50px);
    }
    50% {
        transform: scale(1.2) rotate(-45deg) translate(0, -50px);
    }
}
